body{
    background-color:rgba(128, 126, 126, 0.647);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h1{
    color: rgb(14, 14, 15);
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    color:rgb(30, 30, 181);
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

    }
    .box-model{

        padding:10px;
        background-color:blue;
        border:5px solid rgb(15, 15, 15);
        margin: 10px;
    }

    .image-size{

        padding: 10;
        margin: 10;
        width: 1000;
    }